.root {
    width: 1920px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7f7f8;
}
/* box 1 */
.box-1 {
    width: 100%;
    padding: 35px 164px;
    display: flex;
    background: white;
    justify-content: space-between;
}

.box-1-left {
    width: 791px;
    height: 852px;
    background: linear-gradient(
        180deg,
        rgba(221, 212, 197, 0) 0%,
        #8e887e 100%
    );
    position: relative;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.box-1-left img {
    width: 687px;
    height: 667px;
    position: absolute;
    bottom: 0;
    right: 45px;
}

.box-1-left .text-1,
.box-1-left .text-2,
.box-1-left .text-3,
.top .title,
.data-svg p {
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
}

.box-1-left .text-1 {
    position: absolute;
    text-transform: uppercase;
    top: 39px;
    left: 40px;
    color: #1e1e1e;
    font-size: 15px;
    opacity: 0.4;
    line-height: 142%;
}

.box-1-left .text-2 {
    position: absolute;
    text-transform: capitalize;
    bottom: 185px;
    left: 43px;
    color: #fff;
    font-size: 31px;
    line-height: 120%;
    letter-spacing: -0.93px;
}

.box-1-left .text-3 {
    width: 538px;
    position: absolute;
    text-transform: capitalize;
    bottom: 97px;
    left: 22px;
    color: #fff;
    font-size: 150px;
    line-height: 24px;
    letter-spacing: -0.93px;
}

.box-1-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 782px;
}

.box-1-right .top {
    border-radius: 20px;
    background: #f7f7f8;
    width: 782px;
    height: 371px;
}

.top .title {
    width: 544px;
    text-align: center;
    color: #1e1e1e;
    font-size: 31px;
    line-height: 120%;
    letter-spacing: -0.93px;
    margin: 45px 119px 0px;
    padding: 0 60px;
}

.data-svg {
    display: flex !important;
    justify-content: space-around;
    text-align: center;
}

.data-svg div {
    flex: 1;
    height: 132px;
    margin: 85px 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-svg div:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.11);
}

.data-svg div:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.11);
}

.data-svg p {
    width: 163px;
    color: #1e1e1e;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: -0.34px;
}

.box-1-right .bottom {
    position: relative;
    margin-top: 15px;
}

.box-1-right .bottom img {
    width: 782px;
    height: 454px;
}

.bottom button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 124px;
    height: 46px;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 56px;
    background: #827c6c;
    border: none;
    color: white;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
/* box 2 */
.box-2 {
    margin-top: 50px;
    background: white;
    width: 100%;
    padding: 76px 0 119px 59px;
    display: flex;
}

.text .category,
.text .title,
.text ul li,
.text ul li p {
    color: #402c22;
    font-family: Inter;
    font-style: normal;
}

.text .category {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
}

.text .title {
    font-family: 'Optima nova LT Pro';
    font-size: 63px;
    font-weight: 400;
    line-height: 106%;
    letter-spacing: -1.26px;
    width: 468px;
}

.text ul li {
    list-style: none;
    border-bottom: 1px solid #d9d5d3;
    padding: 5px 0;
    /* width: 452px; */
    width: 406px;
}

.text ul li:last-child {
    border: none;
}

.menu-item div {
    display: flex;
    justify-content: space-between;
}

.menu-content {
    /* width: 403px; */
    width: 354px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.44px;
    opacity: 0.8;
    padding-bottom: 29px;
}

.menu-title {
    font-weight: 400;
    line-height: 122%;
    letter-spacing: -0.44px;
    font-size: 22px;
    display: inline-block;
    padding: 12px 0;
}

.box-2 .img-1 {
    margin-left: 36px;
}

.box-2 .img-1 img {
    width: 764px;
    height: 851px;
}

.box-2 .img-2 {
    margin-left: 16px;
}

.box-2 .img-2 img {
    width: 553px;
    height: 551px;
}
/* box 3 */
.box-3 {
    position: relative;
    background: #fff9f5;
    margin: 50px 0;
    padding-bottom: 72px;
}

.box-3 .highlight,
.content .title,
.content ul li,
.content .detail {
    color: #462b20;
    font-family: 'Instrument Serif';
    font-weight: 400;
}

.box-3 .highlight {
    margin: 32px 0 88px;
    opacity: 0.85;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    position: relative;
}

.box-3 .highlight::before,
.box-3 .highlight::after {
    content: '';
    position: absolute;
    top: 50%;
    background: rgba(70, 43, 32, 0.1);
    height: 1px;
}

.box-3 .highlight::before {
    width: 701.5px;
    left: 113px;
}

.box-3 .highlight::after {
    right: 96px;
    width: 719.5px;
}

.box-3 .content {
    margin: 56px auto 0;
    text-align: center;
    width: 636px;
}

.content .title {
    font-size: 50px;
    font-style: normal;
    line-height: 61px;
    letter-spacing: -1px;
}

.content ul {
    display: flex;
    justify-content: center;
}
.content ul li {
    height: 29px;
    padding: 0 14px;
    border-left: 1px solid rgba(70, 43, 32, 0.1);
    list-style: none;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
}

.content ul li:first-child {
    border: none;
    padding-left: 0;
}

.content ul li:last-child {
    padding-right: 0;
}

.content ul li:not(.active) {
    opacity: 0.4;
}

.content .detail {
    width: 618px;
    padding: 20px 0 56px;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 25px;
    opacity: 0.85;
    position: relative;
    display: flex;
    justify-content: center;
}

.content .detail::before {
    content: '';
    height: 1px;
    width: 80px;
    background: rgba(70, 43, 32, 0.1);
    position: absolute;
    bottom: 0;
}

.box-3 .content:nth-child(4) .detail::before {
    height: 0;
}

.box-3 .img-1,
.box-3 .img-2,
.box-3 .img-3,
.box-3 .img-4 {
    position: absolute;
}

.box-3 .img-1 {
    width: 183px;
    height: 257px;
    top: 210px;
    left: 113px;
}

.box-3 .img-2 {
    width: 274px;
    height: 385px;
    top: 168px;
    right: 96px;
}

.box-3 .img-3 {
    width: 253px;
    height: 363px;
    bottom: 205px;
    left: 169px;
}

.box-3 .img-4 {
    width: 183px;
    height: 257px;
    bottom: 247px;
    right: 242px;
}
